main {
    padding: 15px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 35px;
    gap: 10px;

    background: #FCEAFF;
    border-radius: 35px;

    font-family: Inter;
}

.option>p {
    line-height: 0;
}

.option>select {
    font-size: inherit;
    border: none;
    flex: 1;
    background: #FEF6FF;
    height: 48px;
    color: #484848;
    padding: 0px 10px;
    font-size: 20px;
    margin: 0;
    border-radius: 5px;
}

.option>input {
    font-size: inherit;
    border: none;
    flex: 1;
    background: #FEF6FF;
    height: 48px;
    color: #484848;
    padding: 0px 10px;
    font-size: 20px;
    margin: 0;
    border-radius: 5px;
}

.results {
    display: block;
    padding: 20px;
    box-shadow: none;
}

.results>* {
    box-shadow: 0 0 16px #484848;
}

.offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    gap: 20px;
    height: fit-content;
    background: #FCEAFF;
    border-radius: 20px;
    font-family: Inter;
    line-height: 1;
    cursor: pointer;
}

.offer>img {
    height: 180px;
    width: 180px;
    border-radius: 20px;
}

.offer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.offer-info>.bottom {
    color: #484848;
}

.offer-info>*>* {
    margin: 0;
}

.widmo {
    filter: blur(2px);
    cursor: default;
}
.widmo>* {
    filter: blur(8px);
}


.top {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
}

@media (max-width: 900px) {
    .filter {
        padding: 10px 25px;
        border-radius: 25px;
    }

    .results {
        padding: 10px 0;
    }

    .offer {
        padding: 0 0;
        margin: 10px 0;
        gap: 2px;
    }

    .offer>img {
        height: 120px;
        width: 120px;
        background-color: #FEF6FF;
    }

    .offer-info {
        gap: 0;
        padding: 5px 5px;
        font-size: small;
    }
}